
<div class="comment-content">
    <p class="comment-content-name">UserName : {{userName}}</p>
    <p class="comment-content-article">Comment :{{commentInfo}}</p>
    <p class="comment-content-footer">
        <span class="comment-content-footer-tag">Tag :{{commentTag}}</span>
        <br>
        <span class="comment-content-footer-rating">Rating :{{rating}}</span>
        <br>
        <span class="comment-content-footer-timestamp">date : {{commentdate}}</span>
    </p>
</div>
<div class="cls"></div>
         