<div class="collectionBox">
    <div class="collectionBoxImage">
        <img src="/public/parkingLotImage.jpeg" alt="ParkingLotImage" width="210" height="140" />
    </div>
    <div class="collectionRightTextBox" id="{{parkLotname}}">
        <div class="collectionBoxLine1"> {{parkLotname}} <span class="rating"> {{rating}}
            </span></div>
        <div class="collectionBoxLine2"> {{parkingFeeMessage}} | {{suitableVehicleSize}} |
            {{disabilityFriendly}} </div>
        <div class="collectionBoxLine3"> {{parkLotname}} </div>
        <div class="collectionBoxLine4">
            <button class="collectionBoxCancelBtn" data-userid="{{userId}}" data-parkinglotid="{{_id}}">Cancel
                Collection</button>
        </div>
    </div>
</div>