
<div class = "parklotInfo">
    <p id="ParkLotName"> ParkLotName : {{parkLotname}} </p>
    <p id="ChargeStander">ChargeStandar : {{parkingChargeStandard}} </p>
    <p id="disabilityFrendly"> disabilityFrendly : {{ disabilityFriendly}} </p>
    <p id="suitableSize"> suitableVehicleSize : {{suitableVehicleSize}} </p>
    <p id="rate"> rating : {{rating}} </p>
    <p id="capacity">Capacity: {{parkingLotCapacity}}</p>
</div>
    
