

    <div class="PetrolStaion">
        <br>
        <p class="petrolStation-content-name">Name : {{name}}</p>
        <p class="petrolStation-content-article">type :{{type}}</p>
        <p class="petrolStation-content-footer">
            <span class="petrolStation-content-footer-location">location :{{location}}</span>
            <span class="petrolStation-content-footer-Longitude">Longitude :{{coordinate.longitude}}</span>
            <span class="petrolStation-content-footer-latitude"> latitude : {{coordinate.latitude}}</span>
        </p>
        <br>
    </div>
    <div class="cls"></div>