<div class="userPage">
    <div id="userProfile">
        <div id="showUserProfileBox">
            <div class="myUserProfileItem">
                <div class="myUserProfileText">
                    {{user.lastName}}
                </div>
                <hr style="width:40%;margin-block-start:2px;margin-block-end:2px;" , size="1" , color=white>
            </div>
            <div class="myUserProfileItem">
                <div class="myUserProfileText">
                    {{user.firstName}}
                </div>
                <hr style="width:40%;margin-block-start:2px;margin-block-end:2px;" , size="1" , color=white>
            </div>
            <div class="myUserProfileItem">
                <div class="myUserProfileText">
                    {{user.nickname}}
                </div>
                <hr style="width:40%;margin-block-start:2px;margin-block-end:2px;" , size="1" , color=white>
            </div>
            <div class="myUserProfileItem">
                <div class="myUserProfileText">
                    {{user.email}}
                </div>
                <hr style="width:40%;margin-block-start:2px;margin-block-end:2px;" , size="1" , color=white>
            </div>
        </div>

    </div>
    <div id="myCars">
        {{!-- View existing myCars --}}
        <div id="showMyCarsBox">
            {{#each user.myCar}}
            {{> myCar }}
            {{/each}}
        </div>
        {{!-- Button and text to add new Car --}}
        <div id="addNewCarBox">
            <button id="addNewCarBtn" data-userid="{{userId}}" data-toggle="modal" data-target="#myCarsModal">Add New
                Car</button>
        </div>
        <!-- Modal -->
        {{!-- Refer from https://getbootstrap.com/docs/4.0/components/modal/#live-demo --}}
        <div class="modal fade" id="myCarsModal" tabindex="-1" role="dialog" aria-labelledby="myCarsModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="myCarsModalLabel">My New Car</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <input type="text" class="form-control" id="newCarInput" placeholder="Car's Tag">
                    </div>
                    <div class="modal-input-error" id="modalMyCarsInputError"></div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" id="addNewCarConfrimBtn"
                            data-dismiss="modal">Confirm</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{!-- User page --}}
    {{!-- https://modao.cc/app/Vy1f8dN6r9jszj4dSrSRwx#screen=sl1qweef0v9t387 --}}
    {{!-- 用户界面 - 经常浏览的地区（用户自填） --}}
    {{!-- This is for myArea --}}
    <div id="myArea">
        {{!-- View existing myArea --}}
        <div id="showMyAreaBox">
            {{#each user.preferLocation}}
            {{> area }}
            {{/each}}
        </div>
        {{!-- Button and text to add new Area --}}
        <div id="addNewAreaBox">
            <button id="addNewAreaBtn" data-userid="{{userId}}" data-toggle="modal" data-target="#myAreaModal">Add New
                Area</button>
        </div>
        <!-- Modal -->
        {{!-- Refer from https://getbootstrap.com/docs/4.0/components/modal/#live-demo --}}
        <div class="modal fade" id="myAreaModal" tabindex="-1" role="dialog" aria-labelledby="myAreaModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="myAreaModalLabel">My New Area</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <input type="text" class="form-control" id="newAreaInput" placeholder="Area Tag">
                    </div>
                    <div class="modal-input-error" id="modalInputError"></div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" id="addNewAreaConfrimBtn"
                            data-dismiss="modal">Confirm</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a href="/myCollection/{{userId}}" style="text-decoration: none;">
        <div id="detailPageMyCollection">My Collection</div>
    </a>
    <a href="/myComments/{{userId}}" style="text-decoration: none;">
        <div id="detailPageMyComments">My Comments</div>
    </a>
    <a href="/myParkingLots/{{userId}}" style="text-decoration: none;">
        <div id="detailPageAddNewParkingLot">Add New Parking Lot</div>
    </a>
</div>