<div class="myCollection">
    {{!-- Show user favorite parking lots collection and can remove favrite parking lot from collection--}}
    {{!-- https://modao.cc/app/Vy1f8dN6r9jszj4dSrSRwx#screen=sl1rcthwx07gq2c --}}
    {{!-- 用户界面 - 收藏功能（查看我的收藏） --}}
    <div id="showCollections">
        {{!-- Display existing parkingLots in my Collection --}}
        {{!-- Display empty collection if no parkingLot were added for this user --}}
        {{#if myCollectionExists}} 
            <div class="collectionBox"> Currently no collection for this user. </div>
        {{/if}}
        {{#each myCollection}}
        <div class="collectionBox">
            <div class="collectionBoxImage">
                <img src="/public/parkingLotImage.jpeg" width="210" height="140" />
            </div>
            <div class="collectionRightTextBox">
                <div class="collectionBoxLine1"> {{this.parkLotname}} <span style="float: right"> {{this.rating}}
                    </span></div>
                <div class="collectionBoxLine2"> {{this.parkingFeeMessage}} | {{this.suitableVehicleSize}} |
                    {{this.disabilityFriendly}} </div>
                <div class="collectionBoxLine3"> {{this.parkLotname}} </div>
                <div class="collectionBoxLine4">
                    <button class="collectionBoxCancelBtn"
                        onclick="myCollectionDelete({{this._id}}, {{this.userId}})">Cancel Collection</button>
                </div>
            </div>
        </div>
        {{/each}}
    </div>

</div>